<p>currency works!</p>
<form #gfg = "ngForm" (ngSubmit)='getValue(gfg.value)'>
    {{ gfg.value | json }}

<label>Buy</label>

<input type='number' id="amountBuy" name="amountBuy"(change)="change($event)" ngModel>

<select name="buy_ccy" id="currencyBuy" (change)="change($event)" ngModel> 
    <option *ngFor="let item of data" value={{item.ccy}} > {{item.ccy}} </option>
    <option value="UAH"> UAH</option>

</select>
<label> Sell</label>
<input (change)="change($event)" id="amountSell" name="amountSell" ngModel>
<select name="sell_ccy" id="currencySell" (change)="change($event)" ngModel> 
    <option *ngFor="let item of data" value={{item.ccy}}> {{item.ccy}} </option>
    <option value="UAH"> UAH</option>
</select>
<button> get vulues</button>
</form>
